<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Actions definitions -->


    <record id="action_bed" model="ir.actions.act_window">
        <field name="name">Beds</field>
        <field name="res_model">hospital.bed</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_floor" model="ir.actions.act_window">
        <field name="name">Floors</field>
        <field name="res_model">hospital.floor</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_doctor" model="ir.actions.act_window">
        <field name="name">Doctors</field>
        <field name="res_model">hospital.doctor</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_admission_history" model="ir.actions.act_window">
        <field name="name">Admission History</field>
        <field name="res_model">hospital.admission.history</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_patient" model="ir.actions.act_window">
        <field name="name">Patients</field>
        <field name="res_model">hospital.extended.patient</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>
    
    

    <!-- Menu ROOT -->
    <menuitem id="hospital_menu_root" name="Hospital" sequence="997"/>

    <!-- Menu items -->
    <menuitem id="menu_patient" name="Patients" parent="hospital_menu_root" sequence="10" action="action_patient"/>
    
    <menuitem id="menu_bed" name="Beds" parent="hospital_menu_root" sequence="20" action="action_bed"/>
    
     <menuitem id="menu_floor" name="Floors" parent="hospital_menu_root" sequence="30" action="action_floor"/>
    
     <menuitem id="menu_doctor" name="Doctors" parent="hospital_menu_root" sequence="40" action="action_doctor"/>
    
     <menuitem id="menu_admission_history" parent="hospital_menu_root" name="Admission History" sequence="50" action="action_admission_history"/>
</odoo>

